.navbar {
    /* background-color: white; */
    min-height: 3.25rem;
    background-color: transparent;
    position: relative;
    z-index: 30;
}

.hello {
    padding: 3rem 1.5rem;
    background-image: linear-gradient(237deg, #fb542b 0%, #392dd1 100%) !important;
    border-radius: 0% 0% 23% 11%;   
}

.my-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }

.my-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
    font-family: 'Poppins',sans-serif!important;
    font-weight: 600!important;
  }
  
  .my-text {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    font-size: 20px;
    font-family: 'Poppins',sans-serif!important;
    /* font-weight: 600!important; */
  }


  